body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;

  }

/*Header Styling */
#kalashimage{
    width:70px;
    height:70px;
    margin-left: 5px;
}
.KalashnameBox{
    display:flex;
    flex-direction: row;
}
#Remedy_ganga{
    font-size: 30px;
    font-style: italic;
    font-weight: 500;
    align-self: center;
    margin-left: 10px;
    color: #95060B;
}
.link{
    display:flex;
    text-decoration: none;
    list-style-type: none;
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FDBB11;
    margin-left: 12px;

}
.HeaderBox{
    display: flex;
    position:relative;
    justify-content: space-between;
    background: #61A6C5;
    width: 100%;
    flex-wrap: wrap;
}
li{
    margin-right: 20px;
}
a:link{
    text-decoration: none;
}

a:Visited{
    text-decoration: underline;
}
.HeaderBox ul{
    list-style: none;
}
    
/* Header Middle Part */

#seaWaveImage{
    width:100%;
    height:50%;
    display: flex;
    justify-content: center;
    left:0px;
    right:0px;
}

#lordShivaImage{
    height: 280px;
    width: 300px;
    margin-top: 240px;
}

.shivaBox{
    display: flex;
    justify-content: flex-end;
}

.middleImage{
        background-image: url('./Images/Header/seaWave.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 580px;
   }

   /* triangle.jsx styling */
#omImage{
    width: 140px;
    height:140px;
}
.triangleBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2B65EC;
}
#textmantra{
    display:flex;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    color: #FFD700;
    margin-top: 40px;
    flex-wrap: wrap;
}

#textmantra1{
    display:flex;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    color: #FFD700;
    flex-wrap: wrap;
    
}

.triangleText2Box{
    background-color: #2B65EC;
    width: 50%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.triangleText1Box{
    background-color: #2B65EC;
    width: 50%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

/* Headerabout styling */

.HeaderaboutBox1{
    width:50%;
    left: 0px;
    top: 0px;
    background: linear-gradient( #AD0502 0%, #E33101 100%);
    padding-top: 40px;
}
.HeaderaboutBox1Text{
    display: flex;
    justify-content: center;
    margin-left: 116px;
    margin-right: 116px;
}
#HeaderaboutText1{
    font-family: Martel;
    font-size: 44px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    flex-wrap: wrap;
    color:#FFD700
}
.HeaderaboutBox2{
        width: 50%;
        background-image: url('./Images/Header/Ganga_arati.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
}
.Headeraboutcontainer{
    display: flex;
    flex-direction: row;
}

/*Achyra.jsx */
.AchraImageBox{
        display: flex;
        width: 50%;
        background-image: url('./Images/Header/Achraya_jii.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        flex-wrap: wrap;
}
.AchraBox{
    display: flex;
    flex-direction: row;
}

.AchraInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 140px;
    width: 100%;
    flex-wrap: wrap;
}

.AchraInfoBox{
    width: 50%;
}
#AcharayaName{
    font-family: HelveticaNeue;
    font-size: 25px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

#AcharayaName1{
    font-family: HelveticaNeue;
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 16px;
    margin-left: 12px;
}
#AchraEducationText{
    font-family: HelveticaNeue;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    display: flex;
    flex-wrap: wrap;
}
.AchraInfoTextBox{
    display: flex;
    flex-wrap: wrap;
    margin-Left:30px;
    margin-right:30px
}

/* Kundali.jsx */
#KundaliText{
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 75px;
    text-align: center;
}
.KundaliBox{
    background-color:#FFF5DD;
    
}
.extraBox{
    height: 200px;
    width: 200px;
    border-radius: 250px;
    background-color: #FDBB11;
}
#KudaliItemImage{
    display: flex;
    height:140px;
    padding: 30px;

}
#KundaliName{
    font-family: HelveticaNeue;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;

}
.KundaliItemBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Puja.jsx */
.PujaItemImageBox{
    width: 220px;
    height: 220px;
    left: 118px;
    top: 156px;
    background-color: #FDBB11;
    border-radius: 15px;
}
#PujaItemImage{
    width: 130px;
    height: 130px;
    padding: 40px;
}
#PujaName{
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.PujaItemsCard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*Fotter.jsx */
.Fotter-outer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:  #2B65EC;
    flex-wrap: wrap;
}
.span1{
    font-size: 20px;
    color:  #FDBB11;

}

#headingFotter{
    color:  #FDBB11
}
.socialImageContainer{
    display: flex;
    flex-direction: row;
    margin-top: 45px;
}
#imagesocial{
    width: 60px;
    height: 60px;
    display: flex;
    margin-left: 12px;
}
/* PujaDescriptionContainer */
.PujaDescriptionContainer{
    width: 80;
    background: #FDBB11;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 28px;
    display: flex;
    flex-direction: row;
}


.PujaDescriptionContainer1{
    width: 80%;
    background: #FFF5DD;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 28px;
    display: flex;
    flex-direction: row;
}

#PujaDescriptionContainerImage{
    width:100px;
    height:100px;
    margin-left:28px;
    margin-top:28px;
}
#pujaInfoHeading{
    margin-left: 120px;
    display: flex;
    flex-wrap: wrap;
}
#PujaInfoPara{
    margin-left: 120px;
    margin-right: 120px;
    font-size: 22px;
    line-height: 25px;
    display: flex;
    flex-wrap: wrap;
}
.PujaDescriptionOuterBox{
    margin-top: 6%;
}


/* Service page */
.serviceBackgroundImageBox{
        background-image: url('./Images/Service/background.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width:100%;
        height:300px;
        display: flex;
        flex-wrap: wrap;
}


/*About.jsx */

.AboutOuterContainer{
    background-image: url('./Images/About/Aboutbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:300px;
    display: flex;
    flex-wrap: wrap;
}

.AchraAboutInfo{
    width:85%;
    margin-left:2%
}
#AchraAboutInfoHeading{
    font-size: 28px;
    font-weight: 500;
}
#AchraAboutInfoParagraph{
    font-size: 20px;
    line-height: 35px;
    font-family: HelveticaNeue;
    display: flex;
    flex-wrap: wrap;
}
.AchraAboutInfoContainer{
    display: flex;
    flex-direction: row;
}
.AchraImageContainer{
    background-image: url('./Images/About/Achrya.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:15%;
    height:300px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 8%;
    margin-top: 82px;
    margin-bottom: 6%;
}

/* About Education */

.EducationalTextContainer1{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}
#VedasImage{
    width:110px;
    height: 110px;

}

.EducationalText{
    margin-left: 3%;
    width:65%
}

#EducationalTextHeading{
    font-size: 28px;
    font-weight: 500;
}
#EducationalTextPara{
    font-size: 20px;
    line-height: 35px;
    font-family: HelveticaNeue;
    display: flex;
    flex-wrap: wrap;
}

/* 2nd education part */
.EducationalTextContainer2{
    display: flex;
    flex-direction: row;
    margin-left: 18%;
    margin-bottom: 4%;
}
#EducationalTextPara2{
    font-size: 20px;
    line-height: 35px;
    font-family: HelveticaNeue;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
#astrologyImage{
    margin-right: 100px;
    width: 140px;
    height: 140px;
    margin-top: 80px;
}


/* Payment */
.PaymentBackgroundImageCOntainer{
    background-image: url('./Images/Payment/paymentbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:300px;
    display: flex;
    flex-wrap: wrap; 
}

#PaymentMiddlePara{
    text-align: center;
    font-size: 25px;
}
#QrImage{
    width:60%;
}
.QrPartContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}
.QrImageContainer{
    display: flex;
    justify-content: center;
}
#AccountHolderName{
    text-align: center;
    font-size: 22px;
}
.verticalLine{
    border-left: 2px solid black;
    height: 440px;
    margin-top: 60px;
    margin-left: -30%;
}
.PaymentQrRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -14%;
}
.PaymentMiddleRightPart{
    display: flex;
    flex-direction: column;
    margin-left: -30%;
    margin-top: 2%;
}
.PaymentMiddleRightPartBottom{
    margin-top: 30%;
}
.PaymentMiddleContainer{
    margin-bottom: 10%;
}
#PaymentMiddleRightPartToplink{
    color:#2B65EC
}

/*contact Section */
.emaillocationwaladiv{
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    margin-left: 1%;
    width:75%
}

#ContactMiddlePara{
    margin-left: 4%;
    display:flex;
    flex-wrap: wrap;
    font-size:25px;
    margin-top: 3px;
    color: #FFFFFF;
}

.ContactMiddleFirstPart{
    margin-top: 5%;
}

.ContactMiddleOuterdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url('./Images/Contact/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.ContactForm{
    margin-top: 6%;
    margin-left: -5%;
}
#contactformname{
    font-size: 28px;
    color: #FFFFFF;
}
#ContactMiddleImage{
        width:28px;
        height:28px
}
#textinput{
    width: 600px;
    height: 162px;
    border-radius: 7px;
    box-shadow: 5px 8px;
    
}
#textinput1{
    width: 600px;
    height: 56px;
    border-radius: 7px;
    box-shadow: 5px 8px;
}

.senddivform{
    display: flex;
    width:30%;
    background-color:  #95060B;
    justify-content: center;
    margin-top: 10%;
   /* margin-left: 34%;*/
    border-radius: 10px;
    margin-bottom: 3%;
    box-shadow: 5px 8px;
}

#sendbutton{
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* Media Query */
@media only screen and (max-width: 1200px) {
    body {
        overflow-x: hidden;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 100%;
    
      }
    .QrPartContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .PaymentQrRow{
        display: flex;
        flex-wrap: wrap;
    }
    
    .PaymentMiddleRightPart{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }
    .verticalLine{
        display: none;
    }

    #AccountHolderName{
        text-align: center;
        font-size: 18px;
    }

    #PaymentMiddlePara{
        text-align: center;
        font-size: 20px;
    }

    /* fotter section */

    .fotteraddress{
        margin-left: 5%;
        margin-right: 3%;
    }

    #headingFotter {
        color: #FDBB11;
        font-size: 25px;
        text-align: center;
    }

    /* Contact form */
    .ContactMiddleOuterdiv{
        display: flex;
        flex-direction: column;
    }
    .emaillocationwaladiv{
        display: flex;
        flex-direction: row;
        margin-bottom: 2%;
        margin-left: 5%;
    }
    .ContactForm{
        margin-top: 6%;
        margin-left: 5%;
    }
    .senddivform{
        display: flex;
        width:30%;
        background-color:  #95060B;
        margin-top: 10%;
        border-radius: 10px;
        margin-bottom: 3%;
        box-shadow: 5px 8px;
        margin-left: 1%;
    }
    #textinput1{
        margin-bottom: 10px;
    }
    #textinput{
        margin-bottom: 8px;
    }

}

@media only screen and (max-width: 1050px) {
    body{
        overflow-x: hidden;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .HeaderBox{
        display: flex;
        position:relative;
        justify-content: space-around;
        background: #61A6C5;
        width: 100%;
        flex-wrap: wrap;
    }
    .link{
        font-size: 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .KalashnameBox{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #kalashimage{
        width:40px;
        height:40px;
    }
    #Remedy_ganga{
        font-size: 18px;
    }
    .HeaderBox{
        width: 100%;
    }
    /*Home Siva bagwan wala */
    #lordShivaImage{
        height: 239px;
        width: 140px;
        position: absolute;
        right: 0px;
        margin-top: 31%;
    }

    /* About part */
    .AchraImageContainer{
        background-image: url('./Images/About/Achrya.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        width: 17%;
        height: 210px;
        flex-wrap: wrap;
        margin-left: 3%;
        margin-top: 170px;
        margin-bottom: 6%;
        margin-right: 3%;
    }
    .AchraAboutInfo {
        width: 65%;
        margin-left: 2%;
    }
    #AchraAboutInfoParagraph{
        font-size: 18px;
        margin-left: 2%;
        margin-right: 2%;
    }

    /* About Education */

.EducationalTextContainer1{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}
    #VedasImage{
    width:80px;
    height: 80px;

}

.EducationalText{
    margin-left: 3%;
    width:65%
}

#EducationalTextHeading{
    font-size: 26px;
    font-weight: 500;
}
#EducationalTextPara{
    font-size: 18px;
    line-height: 35px;
    font-family: HelveticaNeue;
    display: flex;
    flex-wrap: wrap;
}

/* 2nd education part */
.EducationalTextContainer2{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-bottom: 4%;
}
#EducationalTextPara2{
    font-size: 18px;
    line-height: 35px;
    font-family: HelveticaNeue;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}
    #astrologyImage{
    margin-right: 110px;
    width: 100px;
    height: 100px;
    margin-top: 100px;
}

/* Triangle */
#textmantra{
    display:flex;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #FFD700;
    margin-top: 40px;
    flex-wrap: wrap;
}

#textmantra1
{
    display:flex;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #FFD700;
    flex-wrap: wrap;
    margin-left: 4%;
    
}
#omImage{
    width: 104px;
    height: 106px;
    margin-top: 17px;
}

}

  @media only screen and (max-width: 780px){

        /* Contact form */
    .ContactMiddleOuterdiv{
        display: flex;
        flex-direction: column;
    }
    .emaillocationwaladiv{
        display: flex;
        flex-direction: row;
        margin-bottom: 2%;
        margin-left: 5%;
    }
    .ContactForm{
        margin-top: 6%;
        margin-left: 5%;
    }
    .senddivform{
        display: flex;
        width:25%;
        background-color:  #95060B;
        margin-top: 10%;
        border-radius: 10px;
        margin-bottom: 3%;
        box-shadow: 5px 8px;
        margin-left: 1%;
    }
    #textinput{
        width:450px;
        height:120px
    }
    #textinput1{
        width:450px;
        height:40px
    }
    #contactformname{
        font-size: 20px;
        color: #FFFFFF;
    }
    #ContactMiddlePara{
        font-size: 20px;
        color: #FFFFFF;
    }
    #sendbutton{
        font-size: 18px;
    }

    /* ABout */
    .AchraImageContainer{
        background-image: url('./Images/About/Achrya.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-wrap: wrap;
        margin-top: 152px;
        margin-bottom: 6%;
        width: 200px;
        height: 217px;
    }
    .AchraAboutInfo {
        width: 64%;
        margin-left: 2%;
    }
    #AchraAboutInfoHeading{
        font-size: 24px;
        font-weight: 500;
    }

    .EducationalTextContainer2{
        display: flex;
        flex-direction: row;
        margin-left: 24%;
        margin-bottom: 4%;
    }
    #EducationalTextPara2{
        font-size: 16px;
        line-height: 35px;
        font-family: HelveticaNeue;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
        #astrologyImage{
        margin-right: 110px;
        width: 100px;
        height: 100px;
        margin-top: 100px;
    }

    #EducationalTextHeading{
        font-size: 24px;
        font-weight: 500;
    }
    #EducationalTextPara{
        font-size: 16px;
        line-height: 35px;
        font-family: HelveticaNeue;
        display: flex;
        flex-wrap: wrap;
    }

    /* traingle */
    #textmantra{
        display:flex;
        font-family: 'Martel';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: #FFD700;
        margin-top: 40px;
        flex-wrap: wrap;
    }
    
    #textmantra1
    {
        display:flex;
        font-family: 'Martel';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: #FFD700;
        flex-wrap: wrap;
        margin-left: 4%;
        
    }
    #omImage{
        width: 84px;
        height: 86px;
        margin-top: 15px;
    }

    #lordShivaImage {
        height: 239px;
        width: 140px;
        position: absolute;
        right: 0px;
        margin-top: 41%;
    }


  }

  @media only screen and (max-width: 650px){
    /* traingle */
    #textmantra{
        display:flex;
        font-family: 'Martel';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #FFD700;
        margin-top: 40px;
        flex-wrap: wrap;
    }
    
    #textmantra1
    {
        display:flex;
        font-family: 'Martel';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #FFD700;
        flex-wrap: wrap;
        margin-left: 4%;
        
    }
    #omImage{
        width: 70px;
        height: 66px;
        margin-top: 19px;
    }

    #lordShivaImage {
        height: 217px;
        width: 129px;
        position: absolute;
        right: 0px;
        margin-top: 54%;
    }
  }
@media only screen and (max-width: 541px){
    body{
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    }
    .KundaliItemBox{
        display: flex;
        flex-direction: column;
        margin-left: 12%;
    }
    .extraBox{
        margin-left: 12%;
    }
    #KundaliName{
        margin-left: -15%;
    }
    #KundaliText{
        font-size: 30px;
    }

    .PujaDescriptionContainer{
        display: flex;
        flex-direction: column;
    }

    .PujaDescriptionContainer1{
        display: flex;
        flex-direction: column;
    }
   #pujaInfoHeading{
    font-size: 22px;
    margin-left: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
   }
   #PujaInfoPara{
    margin-left: 12px;
    margin-right: 12px;
    font-size: 22px;
    line-height: 25px;
    display: flex;
    flex-wrap: wrap;
   }
   #PujaDescriptionContainerImage{
    width:100px;
    height:100px;
    display: flex;
    justify-content: center;
   }
   .PujaDescriptionOuterBox{
        margin-top: 15%;
   }
   .PujaDescriptionImageBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
   }

   /* footer*/
   .span1{
    margin-left: 0;
   }

   /*contact form */

   .ContactMiddleOuterdiv{
    display: flex;
    flex-direction: column;
}
.emaillocationwaladiv{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    margin-left: 5%;
}
.ContactForm{
    margin-top: 6%;
    margin-left: 5%;
}
.senddivform{
    display: flex;
    width:25%;
    background-color:  #95060B;
    margin-top: 10%;
    border-radius: 10px;
    margin-bottom: 3%;
    box-shadow: 5px 8px;
    margin-left: 1%;
}
#textinput{
    width:370px;
    height:80px;
    margin-bottom: 10px;
}
#textinput1{
    width:370px;
    height:25px;
    margin-bottom: 10px;
}
#contactformname{
    font-size: 16px;
    color: #FFFFFF;
}
#ContactMiddlePara{
    font-size: 16px;
    color: #FFFFFF;
}
#sendbutton{
    font-size: 15px;
}

/* About */
   .AchraAboutInfoContainer {
    display: flex;
    flex-direction: column-reverse;
}

.AchraImageContainer{
    display: flex;
    background-image: url('./Images/About/Achrya.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 180px;
    height: 180px;
    align-self: center;
    border-radius: 90px;
    flex-wrap: wrap;
    margin-top: 6%;
    
}
.AchraAboutInfo {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
}

#AchraAboutInfoHeading{
    font-size: 20px;
    font-weight: 400;
    margin-left: 2%;
    margin-right: 2%;
}
#AchraAboutInfoParagraph{
    font-size: 18px;
    margin-left: 2%;
    margin-right: 6%;
}

/* About Education */
.EducationalTextContainer1{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}
.VedasImagediv{
    display: flex;
    justify-content: center;
}
    #VedasImage{
        width: 140px;
        height: 140px;
        border-radius: 70px;
        border: 2px solid black;
        margin-bottom: 2%;
        box-shadow: 5px 5px 8px 5px;
    }

.EducationalText{
    margin-left: 3%;
    width:100%;
    margin-right: 3%;

}

#EducationalTextHeading{
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}
#EducationalTextPara{
    font-size: 18px;
    line-height: 35px;
    font-family: HelveticaNeue;
    display: flex;
    flex-wrap: wrap;
    margin-right: 6%;
}

/* 2nd education part */
.EducationalTextContainer2{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 4%;
    margin-left: 3%;
    margin-right: 3%;
}
#EducationalTextPara2{
    font-size: 18px;
    line-height: 35px;
    font-family: HelveticaNeue;
    display: flex;
    flex-wrap: wrap;
}
#astrologyImage{
    width: 140px;
    height: 140px;
    border: 2px solid;
    border-radius: 70px;
    box-shadow: 5px 5px 8px 5px;
    margin-top: 0;
    margin-right: 0;
}

.astrologyImageContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 0px;
    margin-top: 4%;
}

.EducationalText2{
    margin-left: 3%;
    width:100%;
    margin-right: 3%;
}

/* fotter */
#imagesocial {
    width: 47px;
    height: 45px;
    display: flex;
    margin-left: 12px;
}
.socialImageContainer{
    margin-bottom: 10%;
}

}

@media only screen and (max-width: 410px){
        /*contact form */

        .ContactMiddleOuterdiv{
            display: flex;
            flex-direction: column;
        }
        .emaillocationwaladiv{
            display: flex;
            flex-direction: row;
            margin-bottom: 2%;
            margin-left: 5%;
        }
        .ContactForm{
            margin-top: 6%;
            margin-left: 5%;
        }
        .senddivform{
            display: flex;
            width:25%;
            background-color:  #95060B;
            margin-top: 10%;
            border-radius: 10px;
            margin-bottom: 3%;
            box-shadow: 5px 8px;
            margin-left: 1%;
        }
        #textinput{
            width:240px;
            height:50px;
            margin-bottom: 10px;
        }
        #textinput1{
            width:240px;
            height:18px;
            margin-bottom: 10px;
        }
        #contactformname{
            font-size: 14px;
            color: #FFFFFF;
        }
        #ContactMiddlePara{
            font-size: 14px;
            color: #FFFFFF;
        }
        #sendbutton{
            font-size: 12px;
        }
}
