body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;

  }

/*Header Styling */
#kalashimage {
    width: 70px;
    height: 70px;
    margin-left: 80px;
    margin-top: 4%;
}
.KalashnameBox{
    display:flex;
    flex-direction: row;
}
#Remedy_ganga{
    font-size: 30px;
    font-style: italic;
    font-weight: 500;
    align-self: center;
    margin-left: 10px;
    color: #95060B;
}
.link{
    display:flex;
    text-decoration: none;
    list-style-type: none;
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FDBB11;
    margin-left: 12px;

}
.HeaderBox{
    display: flex;
    position:relative;
    justify-content: space-between;
    background: #61A6C5;
    width: 100%;
    flex-wrap: wrap;
}
li a{
    color:#FDBB11;
}
li{
    margin-right: 20px;
}
a:link{
    text-decoration: none;
}

a:Visited{
    text-decoration: underline;
}
.HeaderBox ul{
    list-style: none;
}
.active{
    color:#95060B;
}

.MainBoxEveryPage{
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}
    
/* Header Middle Part */

#seaWaveImage{
    width:100%;
    height:50%;
    display: flex;
    justify-content: center;
    left:0px;
    right:0px;
}

#lordShivaImage {
    height: 564px;
    width: 323px;
    right: 0;
    position: absolute;
}


.middleImage{
        background-image: url('./Images/Header/Himalaya.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        height: 580px;
   }
   #seaWaveImage{
    height: 580px;
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
   }
   .sealordshivaImage{
    background-image: url('./Images/Header/seaWave.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:left;
    height: 580px;
   }

   /* triangle.jsx styling */
#omImage{
    width: 120px;
    height:120px;
}
.triangleBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2B65EC;
}
#textmantra{
    display:flex;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    color: #FFD700;
    margin-top: 56px;
    flex-wrap: wrap;
}

#textmantra1{
    display:flex;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    color: #FFD700;
    flex-wrap: wrap;
    margin-left: 2%;
    
}

.triangleText2Box{
    background-color: #2B65EC;
    width: 50%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.triangleText1Box{
    background-color: #2B65EC;
    width: 50%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

/* Headerabout styling */

.HeaderaboutBox1{
    width:50%;
    left: 0px;
    top: 0px;
    background: linear-gradient( #AD0502 0%, #E33101 100%);
    padding-top: 40px;
}
.HeaderaboutBox1Text{
    display: flex;
    justify-content: center;
    margin-left: 116px;
    margin-right: 116px;
}
#HeaderaboutText1 {
    font-family: Martel;
    font-size: 32px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    flex-wrap: wrap;
    color: #FFD700;
}
.HeaderaboutBox2{
        width: 50%;
        background-image: url('./Images/Header/Ganga_arati.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
}
.Headeraboutcontainer{
    display: flex;
    flex-direction: row;
}

/*Achyra.jsx */
.AchraImageBox{
        display: flex;
        width: 50%;
        background-image: url('./Images/Header/Achraya_jii.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        flex-wrap: wrap;
}
.AchraBox{
    display: flex;
    flex-direction: row;
}

.AchraInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.AchraInfoBox{
    width: 50%;
}
#AcharayaName {
    font-family: HelveticaNeue;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

#AcharayaName1{
    font-family: HelveticaNeue;
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 16px;
    margin-left: 12px;
}
#AchraEducationText {
    font-family: HelveticaNeue;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    display: flex;
    flex-wrap: wrap;
}
.AchraInfoTextBox{
    display: flex;
    flex-wrap: wrap;
    margin-Left:30px;
    margin-right:30px
}

/* Kundali.jsx */
#KundaliText{
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 75px;
    text-align: center;
}
.KundaliBox{
    background-color:#FFF5DD;
    
}
.extraBox{
    height: 200px;
    width: 200px;
    border-radius: 250px;
    background-color: #FDBB11;
}
#KudaliItemImage{
    display: flex;
    height:140px;
    padding: 30px;

}
#KundaliName{
    font-family: HelveticaNeue;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;

}
.KundaliItemBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Puja.jsx */
.PujaItemImageBox{
    width: 220px;
    height: 220px;
    left: 118px;
    top: 156px;
    background-color: #FDBB11;
    border-radius: 15px;
}
#PujaItemImage{
    width: 130px;
    height: 130px;
    padding: 40px;
}
#PujaName{
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.PujaItemsCard {
    display: flex;
    flex-direction: row;
     justify-content: center; 
    flex-wrap: wrap;
    margin-left: 5%;
}
.PujaItems{
    margin-right: 5%;
}
/*Fotter.jsx */
.Fotter-outer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:  #2B65EC;
    flex-wrap: wrap;
}
.span1{
    font-size: 20px;
    color:  #FDBB11;

}

#headingFotter{
    color:  #FDBB11
}
.socialImageContainer{
    display: flex;
    flex-direction: row;
    margin-top: 45px;
}
#imagesocial {
    width: 60px;
    height: 60px;
    display: flex;
    margin-left: 12px;
    margin-bottom: 13%;
}
/* PujaDescriptionContainer */
.PujaDescriptionContainer{
    width: 80;
    background: #FDBB11;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 28px;
    display: flex;
    flex-direction: row;
}


.PujaDescriptionContainer1{
    width: 80%;
    background: #FFF5DD;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 28px;
    display: flex;
    flex-direction: row;
}

#PujaDescriptionContainerImage{
    width:100px;
    height:100px;
    margin-left:28px;
    margin-top:28px;
}
#pujaInfoHeading{
    margin-left: 35px;
    display: flex;
    flex-wrap: wrap;
}
#PujaInfoPara {
    margin-left: 34px;
     margin-right: 10px; 
    font-size: 22px;
    line-height: 25px;
    display: flex;
    flex-wrap: wrap;
}
.PujaDescriptionOuterBox{
    margin-top: 6%;
}


/* Service page */
.serviceBackgroundImageBox{
        background-image: url('./Images/Header/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width:100%;
        height:300px;
        display: flex;
        flex-wrap: wrap;
}


/*About.jsx */

.AboutOuterContainer{
    background-image: url('./Images/Header/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:300px;
    display: flex;
    flex-wrap: wrap;
}
    #AboutUsPara {
        font-weight: 900;
        font-size: 50px;
        color: white;
        left: 0;
        margin-left: 2%;
        margin-top: 10%;
    }


.AchraAboutInfo{
    width:80%;
    margin-left:4%
}
#AchraAboutInfoHeading{
    font-size: 28px;
    font-weight: 500;
}
#AchraAboutInfoParagraph{
    font-size: 20px;
    line-height: 35px;
    font-family: HelveticaNeue;
    display: flex;
    flex-wrap: wrap;
}
.AchraAboutInfoContainer{
    display: flex;
    flex-direction: row;
}
.AchraImageContainer{
    background-image: url('./Images/About/Achrya.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 19%;
    height: 377px;
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 8%; */
    /* margin-top: 82px; */
    /* margin-bottom: 6%;*/
}

/* About Education */

.EducationalTextContainer1{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}
#VedasImage{
    width:110px;
    height: 110px;

}

.EducationalText{
    margin-left: 3%;
    width:65%
}

#EducationalTextHeading{
    font-size: 28px;
    font-weight: 500;
}
#EducationalTextPara{
    font-size: 20px;
    line-height: 35px;
    font-family: HelveticaNeue;
    display: flex;
    flex-wrap: wrap;
}

/* 2nd education part */
.EducationalTextContainer2{
    display: flex;
    flex-direction: row;
    margin-left: 18%;
    margin-bottom: 4%;
}
#EducationalTextPara2{
    font-size: 20px;
    line-height: 35px;
    font-family: HelveticaNeue;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
#astrologyImage {
    margin-right: 100px;
    width: 165px;
    height: 164px;
    margin-top: 80px;
}


/* Payment */
.PaymentMiddleRightPartTop{
    display: none;
}
.PaymentBackgroundImageCOntainer{
    background-image: url('./Images/Header/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:300px;
    display: flex;
    flex-wrap: wrap; 
}

#PaymentMiddlePara{
    text-align: center;
    font-size: 25px;
}
#QrImage{
    width:60%;
}
.QrPartContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}
.QrImageContainer{
    display: flex;
    justify-content: center;
}
#AccountHolderName{
    text-align: center;
    font-size: 22px;
}
.verticalLine{
    border-left: 2px solid black;
    height: 440px;
    margin-top: 60px;
    margin-left: -30%;
}
.PaymentQrRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -14%;
    margin-top: 7%;
}
.PaymentMiddleRightPart{
    display: flex;
    flex-direction: column;
    margin-left: -30%;
    margin-top: 6%;
}
.PaymentMiddleRightPartBottom{
    margin-top: 30%;
}
.PaymentMiddleContainer{
    margin-bottom: 10%;
}
#PaymentMiddleRightPartToplink{
    color:#2B65EC
}
.AccountDetails{
    font-size: 22px;
}

/*contact Section */
.emaillocationwaladiv{
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    margin-left: 1%;
    width:75%
}

#ContactMiddlePara{
    margin-left: 4%;
    display:flex;
    flex-wrap: wrap;
    font-size:25px;
    margin-top: 3px;
    color: #FFFFFF;
}

.ContactMiddleFirstPart{
    margin-top: 5%;
}

.ContactMiddleOuterdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url('./Images/Contact/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.ContactForm{
    margin-top: 6%;
    margin-left: -5%;
}
#contactformname{
    font-size: 28px;
    color: #FFFFFF;
}
#ContactMiddleImage{
        width:28px;
        height:28px
}
#textinput{
    width: 600px;
    height: 162px;
    border-radius: 7px;
    /*box-shadow: 5px 1px;*/
    border: 2px solid black;
    
}
#textinput1{
    width: 600px;
    height: 56px;
    border-radius: 7px;
    /*box-shadow: 5px 1px;*/
    margin-bottom: 4%;
    border-width: 3px;
    border: 2px solid black;
}

.senddivform{
    display: flex;
    width:100%;
    /*background-color:  #95060B;*/
    justify-content: center;
    margin-top: 10%;
   /* margin-left: 34%;*/
    border-radius: 10px;
    margin-bottom: 3%;
   /* box-shadow: 5px 1px;*/
}

#sendbutton{
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 28px;
}
.buttonclass{
    width: 30%;
    background-color: #95060B;
}


/* Media Query */
@media only screen and (max-width: 1200px) {
    body {
        overflow-x: hidden;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 100%;
    
      }
      /* about/service/payment/part*/
      #AboutUsPara {
        font-weight: 900;
        font-size: 50px;
        color: white;
        left: 0;
        margin-left: 2%;
        margin-top: 15%;
    }
    .QrPartContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .PaymentQrRow {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .PaymentMiddleQrWala{
        margin-left: 10%;
    }
    .verticalLine {
        border-left: 2px solid black;
        height: 440px;
        margin-top: 60px;
        margin-left: -51%;
    }
    .PaymentMiddleRightPartBottom {
        margin-top: 38%;
        margin-left: -66%;
    }
   /* .PaymentMiddleRightPart{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }
    .verticalLine{
        display: none;
    }*/

    #AccountHolderName{
        text-align: center;
        font-size: 18px;
    }

    #PaymentMiddlePara{
        text-align: center;
        font-size: 20px;
    }

    /* fotter section */

    .fotteraddress{
        margin-left: 5%;
        margin-right: 3%;
    }

    #headingFotter {
        color: #FDBB11;
        font-size: 25px;
        text-align: center;
    }

    /* Contact form */
    .ContactMiddleOuterdiv{
        display: flex;
        flex-direction: column;
    }
    .emaillocationwaladiv{
        display: flex;
        flex-direction: row;
        margin-bottom: 2%;
        margin-left: 5%;
    }
    .ContactForm{
        margin-top: 6%;
        margin-left: 5%;
    }
    .senddivform {
        display: flex;
        width: 50%;
        /* background-color: #95060B; */
        margin-top: 5%;
        border-radius: 10px;
        margin-bottom: 5%;
        /* box-shadow: 5px 8px; */
        /* margin-left: 1%; */
    }
    #textinput1{
        margin-bottom: 20px;
    }
    #textinput{
        margin-bottom: 8px;
    }
    /* triangle */
    #textmantra {
        display: flex;
        font-family: 'Martel';
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        color: #FFD700;
        margin-top: 40px;
        flex-wrap: wrap;
    }
    #textmantra1 {
        display: flex;
        font-family: 'Martel';
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        color: #FFD700;
        flex-wrap: wrap;
        margin-left: 2%;
    }
    #omImage {
        width: 103px;
        height: 105px;
        margin-top: 18%;
    }
    /* Header About */
    #HeaderaboutText1 {
        font-family: Martel;
        font-size: 32px;
        font-weight: 300;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: center;
        flex-wrap: wrap;
        color: #FFD700;
    }
    .HeaderaboutBox1Text {
        display: flex;
        justify-content: center;
        margin-left: 8%;
        margin-right: 8%;
    }

    .AchraInfo {
         margin-top: 0px;
    }
    #AchraEducationText {
        font-size: 27px;
    }


}

@media only screen and (max-width: 1050px) {
    body{
        overflow-x: hidden;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 100%;         
    }
    #AboutUsPara {
        font-weight: 900;
        font-size: 50px;
        color: white;
        left: 0;
        margin-left: 2%;
        margin-top: 18%;
    }
    .HeaderBox{
        display: flex;
        position:relative;
        justify-content: space-around;
        background: #61A6C5;
        width: 100%;
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .link {
        font-size: 14px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .KalashnameBox{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #kalashimage{
        width:40px;
        height:40px;
    }
    #Remedy_ganga {
        font-size: 18px;
        margin-top: 7%;
    }
    .HeaderBox{
        width: 100%;
    }
    /*Home Siva bagwan wala */
    #lordShivaImage {
        height: 421px;
        width: 174px;
        right: 0px;
    }
    .middleImage {
        background-image: url('./Images/Header/Himalaya.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 436px;
    }
    .sealordshivaImage {
        height: 436px;
    }

    /* About part */
    .AchraImageContainer{
        background-image: url('./Images/About/Achrya.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        width: 17%;
        height: 210px;
        flex-wrap: wrap;
        margin-left: 3%;
        margin-top: 170px;
        margin-bottom: 6%;
        margin-right: 3%;
    }
    .AchraAboutInfo {
        width: 65%;
        margin-left: 2%;
    }
    #AchraAboutInfoParagraph{
        font-size: 18px;
        margin-left: 2%;
        margin-right: 2%;
    }

    /* About Education */

.EducationalTextContainer1{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}
    #VedasImage{
    width:80px;
    height: 80px;

}

.EducationalText{
    margin-left: 3%;
    width:65%
}

#EducationalTextHeading{
    font-size: 26px;
    font-weight: 500;
}
#EducationalTextPara{
    font-size: 18px;
    line-height: 35px;
    font-family: HelveticaNeue;
    display: flex;
    flex-wrap: wrap;
}

/* 2nd education part */
.EducationalTextContainer2{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-bottom: 4%;
}
#EducationalTextPara2{
    font-size: 18px;
    line-height: 35px;
    font-family: HelveticaNeue;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}
    #astrologyImage{
    margin-right: 110px;
    width: 100px;
    height: 100px;
    margin-top: 100px;
}

/* Triangle */
#textmantra{
    display: flex;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #FFD700;
    flex-wrap: wrap;
    margin-top: 10%;
}

#textmantra1
{
    display:flex;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    color: #FFD700;
    flex-wrap: wrap;
    margin-left: 4%;
    
}
#omImage{
    width: 104px;
    height: 106px;
    margin-top: 20px;
}
/* Headerabout */
.HeaderaboutBox1Text {
    display: flex;
    justify-content: center;
    margin-left: 8%;
    margin-right: 8%;
}
#HeaderaboutText1 {
    font-family: Martel;
    font-size: 25px;
    font-weight: 300;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    flex-wrap: wrap;
    color: #FFD700;
}
.AchraInfo {
     margin-top: 0; 
}
.AchraInfoTextBox {
    display: flex;
    flex-wrap: wrap;
    margin-Left: 4%;
    margin-right: 4%;
}
#AchraEducationText {
    font-family: HelveticaNeue;
    font-size: 21px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    display: flex;
    flex-wrap: wrap;
}

/* payment */
.PaymentMiddleRightPartBottom {
    margin-top: 3%;
}
.QrImageContainer {
    display: flex;
    justify-content: center;
    margin-left: 10%;
}
.PaymentMiddleQrWala {
    margin-left: 0%;
}
.verticalLine {
    margin-left: -46%;
}
.PaymentMiddleRightPartBottom {
    margin-top: 46%;
    margin-left: -25%;
}

.PaymentQrRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 14%;
}


}

  @media only screen and (max-width: 780px){
    body{
        overflow-x: hidden;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 100%;         
    }
    #AboutUsPara {
        font-weight: 900;
        font-size: 50px;
        color: white;
        left: 0;
        margin-left: 2%;
        margin-top: 25%;
    }

        /* Contact form */
    .ContactMiddleOuterdiv{
        display: flex;
        flex-direction: column;
    }
    .emaillocationwaladiv{
        display: flex;
        flex-direction: row;
        margin-bottom: 2%;
        margin-left: 5%;
    }
    .ContactForm{
        margin-top: 6%;
        margin-left: 5%;
    }
    .senddivform{
        display: flex;
        width:100%;
        /*background-color:  #95060B;*/
        margin-top: 6%;
        border-radius: 10px;
        margin-bottom: 6%;
       /* box-shadow: 5px 8px;*/
        margin-left: 0;
    }
    .buttonclass {
        width: 24%;
        background-color: #95060B;
        margin-left: -40%;
    }
    #textinput{
        width:450px;
        height:120px
    }
    #textinput1{
        width:450px;
        height:40px
    }
    #contactformname{
        font-size: 25px;
        color: #FFFFFF;
    }
    #ContactMiddlePara{
        font-size: 24px;
        color: #FFFFFF;
    }
    #sendbutton{
        font-size: 25px;
    }

    /* ABout */
    .AchraImageContainer{
        background-image: url('./Images/About/Achrya.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-wrap: wrap;
        margin-top: 152px;
        margin-bottom: 6%;
        width: 200px;
        height: 217px;
    }
    .AchraAboutInfo {
        width: 64%;
        margin-left: 2%;
    }
    #AchraAboutInfoHeading{
        font-size: 24px;
        font-weight: 500;
    }

    .EducationalTextContainer2{
        display: flex;
        flex-direction: row;
        margin-left: 24%;
        margin-bottom: 4%;
    }
    #EducationalTextPara2{
        font-size: 16px;
        line-height: 35px;
        font-family: HelveticaNeue;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
        #astrologyImage{
        margin-right: 110px;
        width: 100px;
        height: 100px;
        margin-top: 100px;
    }

    #EducationalTextHeading{
        font-size: 24px;
        font-weight: 500;
    }
    #EducationalTextPara{
        font-size: 16px;
        line-height: 35px;
        font-family: HelveticaNeue;
        display: flex;
        flex-wrap: wrap;
    }

    /* traingle */
    #textmantra{
        display:flex;
        font-family: 'Martel';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: #FFD700;
        margin-top: 40px;
        flex-wrap: wrap;
    }
    
    #textmantra1
    {
        display:flex;
        font-family: 'Martel';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: #FFD700;
        flex-wrap: wrap;
        margin-left: 4%;
        
    }
    #omImage{
        width: 84px;
        height: 86px;
        margin-top: 15px;
    }

    #lordShivaImage {
        height: 412px;
        width: 158px;
        /* position: absolute; */
        right: 0px;
        /* margin-top: 28%; */
    }
    /* Header About */
    #HeaderaboutText1 {
        font-family: Martel;
        font-size: 22px;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;
        flex-wrap: wrap;
        color: #FFD700;
    }

    /* Achra box */
    .middleImage {
        background-image: url('./Images/Header/Himalaya.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 433px;
    }
    .sealordshivaImage {
        height: 433px;
    }
    .AchraInfo {
        margin-top: 0; 
    }
    #AcharayaName {
        font-family: HelveticaNeue;
        font-size: 22px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
    }
    .AchraInfoTextBox {
        display: flex;
        flex-wrap: wrap;
        margin-Left: 4%;
        margin-right: 4%;
    }
    #AchraEducationText {
        font-family: HelveticaNeue;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        display: flex;
        flex-wrap: wrap;
    }

    /* Payments */
    .verticalLine {
        display: none;
    }

    .QrImageContainer {
         margin-left: 0%; 
    }
    #QrImage {
        width: 40%;
    }
    .PaymentQrRow {
        margin-left: -25%;
        margin-bottom: 18%;
        margin-top: 18%;
    }
    .PaymentMiddleRightPartBottom {
        margin-top: 37%;
        margin-left: -20%;
    }


  }

  @media only screen and (max-width: 650px){
    body{
        overflow-x: hidden;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 100%;         
    }
    #AboutUsPara {
        font-weight: 900;
        font-size: 50px;
        color: white;
        left: 0;
        margin-left: 2%;
        margin-top: 32%;
    }
    /* traingle */
    #textmantra{
        display:flex;
        font-family: 'Martel';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #FFD700;
        margin-top: 40px;
        flex-wrap: wrap;
    }
    
    #textmantra1
    {
        display:flex;
        font-family: 'Martel';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #FFD700;
        flex-wrap: wrap;
        margin-left: 4%;
        
    }
    #omImage{
        width: 70px;
        height: 66px;
        margin-top: 19px;
    }

    #lordShivaImage {
        height: 327px;
        width: 144px;
        /* position: absolute; */
        right: 0px;
        /* margin-top: 25%; */
    }
    .middleImage {
        background-image: url('./Images/Header/Himalaya.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 351px;
    }
    .sealordshivaImage{
        height: 351px;
    }
    
#HeaderaboutText1 {
    font-family: Martel;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    flex-wrap: wrap;
    color: #FFD700;
}
/* Achra BOx */
#AchraEducationText {
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    display: flex;
    flex-wrap: wrap;
    margin-left: 4%;
    margin-right: 4%;
}
.AchraInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
    width: 100%;
    flex-wrap: wrap;
}
#AcharayaName {
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
}
.AchraInfoTextBox {
    display: flex;
    flex-wrap: wrap;
    margin-Left: 4%;
    margin-right: 4%;
}
/* Payment */
    #QrImage {
        width: 36%;
    }
    .PaymentMiddleRightPartBottom {
        margin-top: 35%;
        margin-left: -7%;
    }
    .QrPartContainer {
        margin-left: -14%;
    }
    #AccountHolderName {
        font-size: 15px;
    }
    #AccountDetails{
        font-size: 14px;
    }
    #PaymentMiddlePara {
        font-size: 17px;
    }
    /* button form */
    .buttonclass {
        margin-left: -20%;
    }
}
@media only screen and (max-width: 541px){
    body{
        overflow-x: hidden;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 100%;         
    }
    #AboutUsPara {
        font-weight: 900;
        font-size: 40px;
        color: white;
        left: 0;
        margin-left: 2%;
        margin-top: 38%;
    }
    .KundaliItemBox{
        display: flex;
        flex-direction: column;
        margin-left: 12%;
    }
    .extraBox{
        margin-left: 12%;
    }
    #KundaliName{
        margin-left: -15%;
    }
    #KundaliText{
        font-size: 30px;
    }

    .PujaDescriptionContainer{
        display: flex;
        flex-direction: column;
    }

    .PujaDescriptionContainer1{
        display: flex;
        flex-direction: column;
    }
   #pujaInfoHeading{
    font-size: 22px;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
   }
   #PujaInfoPara {
    margin-left: 12px;
    margin-right: 12px;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    flex-wrap: wrap;
}
   #PujaDescriptionContainerImage{
    width:100px;
    height:100px;
    display: flex;
    justify-content: center;
    margin-left: 0;
   }
   .PujaDescriptionOuterBox{
        margin-top: 15%;
   }
   .PujaDescriptionImageBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
   }

   /* footer*/
   .span1{
    margin-left: 0;
   }

   /*contact form */

   .ContactMiddleOuterdiv{
    display: flex;
    flex-direction: column;
}
.emaillocationwaladiv{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    margin-left: 5%;
}
.ContactForm{
    margin-top: 6%;
    margin-left: 5%;
}
.senddivform {
    display: flex;
    /* width: 25%; */
    /* background-color: #95060B; */
    margin-top: 6%;
    border-radius: 10px;
    margin-bottom: 6%;
    /* box-shadow: 5px 8px; */
    margin-left: 1%;
}
.buttonclass {
    margin-left: -30%;
    border-radius: 4px;
}
#textinput{
    width:370px;
    height:80px;
    margin-bottom: 10px;
}
#textinput1{
    width:370px;
    height:25px;
    margin-bottom: 10px;
}
#contactformname{
    font-size: 16px;
    color: #FFFFFF;
}
#ContactMiddlePara{
    font-size: 16px;
    color: #FFFFFF;
}
#sendbutton{
    font-size: 15px;
}

/* About */
   .AchraAboutInfoContainer {
    display: flex;
    flex-direction: column-reverse;
}

.AchraImageContainer{
    display: flex;
    background-image: url('./Images/About/Achrya.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 180px;
    height: 180px;
    align-self: center;
    border-radius: 90px;
    flex-wrap: wrap;
    margin-top: 6%;
    
}
.AchraAboutInfo {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
}

#AchraAboutInfoHeading{
    font-size: 20px;
    font-weight: 400;
    margin-left: 2%;
    margin-right: 2%;
}
#AchraAboutInfoParagraph{
    font-size: 18px;
    margin-left: 2%;
    margin-right: 6%;
}

/* About Education */
.EducationalTextContainer1{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}
.VedasImagediv{
    display: flex;
    justify-content: center;
}
    #VedasImage{
        width: 140px;
        height: 140px;
        border-radius: 70px;
        border: 2px solid black;
        margin-bottom: 2%;
        box-shadow: 5px 5px 8px 5px;
    }

.EducationalText{
    margin-left: 3%;
    width:100%;
    margin-right: 3%;

}

#EducationalTextHeading{
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}
#EducationalTextPara{
    font-size: 18px;
    line-height: 35px;
    font-family: HelveticaNeue;
    display: flex;
    flex-wrap: wrap;
    margin-right: 6%;
}

/* 2nd education part */
.EducationalTextContainer2{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 4%;
    margin-left: 3%;
    margin-right: 3%;
}
#EducationalTextPara2{
    font-size: 18px;
    line-height: 35px;
    font-family: HelveticaNeue;
    display: flex;
    flex-wrap: wrap;
}
#astrologyImage{
    width: 140px;
    height: 140px;
    border: 2px solid;
    border-radius: 70px;
    box-shadow: 5px 5px 8px 5px;
    margin-top: 0;
    margin-right: 0;
}

.astrologyImageContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 0px;
    margin-top: 4%;
}

.EducationalText2{
    margin-left: 3%;
    width:100%;
    margin-right: 3%;
}

/* fotter */
#imagesocial {
    width: 47px;
    height: 45px;
    display: flex;
    margin-left: 12px;
    margin-bottom: 13%;
}
.socialImageContainer{
    margin-bottom: 10%;
}

/* triangle */
#textmantra{
    display:flex;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFD700;
    margin-top: 40px;
    flex-wrap: wrap;
    margin-top: 13%;
}

#textmantra1
{
    display:flex;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFD700;
    flex-wrap: wrap;
    margin-left: 4%;
    
}
#omImage{
    width: 70px;
    height: 66px;
    margin-top: 19px;
}

#lordShivaImage {
    height: 255px;
    width: 138px;
    /* position: absolute; */
    right: 0px;
    /* margin-top: 18%; */
}
#kalashimage {
    margin-left: 0px;
}
.middleImage {
    background-image: url('./Images/Header/Himalaya.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 260px;
}
.sealordshivaImage{
    height: 260px;
}
/* Header About */
#HeaderaboutText1 {
    font-family: Martel;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    flex-wrap: wrap;
    color: #FFD700;
}

/* header about */

.Headeraboutcontainer{
    display: flex;
    flex-direction: column-reverse;
}
.HeaderaboutBox2 {
    width: 52%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 125px;
}
.HeaderaboutBox1 {
    width: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient( #ffff 0%, #ffff 100%);
    padding-top: 18px;
}

/* Achraya Box */
.AchraBox {
    display: flex;
    flex-direction: column;
}
#HeaderaboutText1 {
    font-family: Martel;
    font-size: 23px;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: 0em;
    /* text-align: center; */
    flex-wrap: wrap;
    /* color: #FFD700; */
    color: black;
}
.HeaderaboutBox1Text {
    display: flex;
    justify-content: center;
    margin-left: 4%;
    margin-right: 4%;
}
.AchraImageBox {
    display: flex;
    width: 49%;
    height: 220px;
    background-image: url('./Images/Header/Achraya_jii.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-wrap: wrap;
    border-radius: 120px;
    align-self: center;
    margin-top: 4%;
}
/* background-image: url('./Images/Header/Achraya_jii.png');*/

.AchraInfoBox {
    width: 100%;
}
.AchraInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 16px;
    width: 100%;
    flex-wrap: wrap;
}

#AcharayaName {
    font-size: 22px;
    text-align: center;
    font-weight: 500;
}

#AchraEducationText {
    font-family: Martel;
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    display: flex;
    flex-wrap: wrap;
}

.AchraInfoTextBox {
    display: flex;
    flex-wrap: wrap;
    margin-right: 4%;
    margin-left: 4%;
}
/* service */
#KundaliText {
    font-size: 22px;
}
.extraBox {
    height: 129px;
    width: 126px;
    background-color: #FDBB11;
    margin-left: 0;
    display: flex;
    justify-content: center;
}
#KudaliItemImage {
    display: flex;
    height: 57px;
    align-self: center;
}
.KundaliItemBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;

}
.kundaliItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
#KundaliName {
    margin-left: 0; 
    font-size: 20px;
}

.PujaItemImageBox {
    width: 160px;
    height: 166px;
    background-color: #FDBB11;
    border-radius: 15px;
}
#PujaItemImage {
    width: 107px;
    height: 106px;
    padding: 27px;
}
#PujaName {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    text-align: center;
}
.PujaItemsCard{
    flex-direction: column;
    align-self: center;
}
.PujaItems{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Payments */
.PaymentQrRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 0;
}
.QrPartContainer {
    margin-left: 0%;
    margin-top: 48px;
}
#QrImage {
    width: 50%;
}
.PaymentMiddleRightPartBottom{
    margin-top: 0;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center; 
    align-items: center;
}
.PaymentMiddleRightPart {
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    margin-left: 0;
    margin-bottom: 20%;
}
#AccountDetails {
    font-size: 20px;
    line-height: 0px;
}
#AccountHolderName {
    font-size: 25px;
}

}

@media only screen and (max-width: 415px){
        /*contact form */
        body{
            overflow-x: hidden;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            width: 100%;         
        }
        #AboutUsPara {
            font-weight: 900;
            font-size: 30px;
            color: white;
            left: 0;
            margin-left: 2%;
            margin-top: 52%;
        }
        .ContactMiddleOuterdiv{
            display: flex;
            flex-direction: column;
        }
        .emaillocationwaladiv{
            display: flex;
            flex-direction: row;
            margin-bottom: 2%;
            margin-left: 5%;
        }
        .ContactForm{
            margin-top: 6%;
            margin-left: 5%;
        }
        .senddivform {
            display: flex;
            width: 81%;
            /* background-color: #95060B; */
            margin-top: 6%;
            border-radius: 10px;
            margin-bottom: 6%;
            /* box-shadow: 5px 8px; */
            /* margin-left: 1%; */
        }
        #textinput{
            width:240px;
            height:50px;
            margin-bottom: 10px;
            border: 0;
        }
        #textinput1{
            width:240px;
            height:18px;
            margin-bottom: 10px;
            border:0;
        }
        #contactformname{
            font-size: 14px;
            color: #FFFFFF;
        }
        #ContactMiddlePara{
            font-size: 14px;
            color: #FFFFFF;
        }
        #sendbutton{
            font-size: 12px;
        }

        /* triangle */
#textmantra{
    display: flex;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFD700;
    flex-wrap: wrap;
    margin-top: 23%;
}

#textmantra1
{
    display:flex;
    font-family: 'Martel';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFD700;
    flex-wrap: wrap;
    margin-left: 6%;
    
}
#omImage{
    width: 46px;
    height: 50px;
    margin-top: 32px;
}

#lordShivaImage {
    height: 247px;
    width: 110px;
    /* position: absolute; */
    right: 0px;
    /* margin-top: 32%; */
}
.middleImage {
        background-image: url('./Images/Header/Himalaya.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 252px;   
}
.sealordshivaImage{
    height: 252px;
}
/* link */
.link {
    font-size: 13px;
}
/* header about */
    .Headeraboutcontainer{
        display: flex;
        flex-direction: column-reverse;
    }
    .HeaderaboutBox2 {
        width: 45%;
        height: 177px;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 4%;
        margin-bottom: 4%;
        border-radius: 105px;
    }
    .HeaderaboutBox1 {
        width: 100%;
        left: 0px;
        top: 0px;
        background: linear-gradient( #ffff 0%, #ffff 100%);
        padding-top: 18px;
    }

    /* Achraya Box */
    .AchraBox {
        display: flex;
        flex-direction: column;
    }
    #HeaderaboutText1 {
        font-family: Martel;
        font-size: 18px;
        font-weight: 300;
        line-height: 29px;
        letter-spacing: 0em;
        /* text-align: center; */
        flex-wrap: wrap;
        /* color: #FFD700; */
        color: black;
    }
    .HeaderaboutBox1Text {
        display: flex;
        justify-content: center;
        margin-left: 4%;
        margin-right: 4%;
    }
    .AchraImageBox {
        display: flex;
        width: 47%;
        height: 174px;
        background-image: url('./Images/Header/Achraya_jii.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        flex-wrap: wrap;
        border-radius: 120px;
        align-self: center;
        margin-top: 4%;
    }

    .AchraInfoBox {
        width: 100%;
    }
    .AchraInfo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 16px;
        width: 100%;
        flex-wrap: wrap;
    }

    #AcharayaName {
        font-size: 16px;
        text-align: center;
    }

    #AchraEducationText {
        font-family: Martel;
        font-size: 18px;
        font-weight: 300;
        line-height: 29px;
        letter-spacing: 0em;
        flex-wrap: wrap;
        color: black;
    }

    .AchraInfoTextBox {
        display: flex;
        flex-wrap: wrap;
        margin-right: 4%;
        margin-left: 4%;
    }
    /* Services */
    #KundaliText {
        font-size: 22px;
    }
    .extraBox {
        height: 129px;
        width: 126px;
        background-color: #FDBB11;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
    #KudaliItemImage {
        display: flex;
        height: 57px;
        align-self: center;
    }
    .KundaliItemBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;

    }
    .kundaliItem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    #KundaliName {
        margin-left: 0; 
        font-size: 20px;
    }

    /* puja */
    .PujaItemImageBox {
        width: 160px;
        height: 166px;
        background-color: #FDBB11;
        border-radius: 15px;
    }
    #PujaItemImage {
        width: 107px;
        height: 106px;
        padding: 27px;
    }
    #PujaName {
        font-family: 'HelveticaNeue';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        text-align: center;
    }
    .PujaItemsCard {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .PujaItems{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    /* Payments */
    #AccountHolderName {
        font-size: 23px;
    }

    #QrImage {
        width: 48%;
    }
    #AccountDetails {
        font-size: 18px;
        line-height: 0px;
    }
    #PaymentMiddlePara {
        font-size: 15px;
    }
    /* footer */
    #headingFotter {
        font-size: 19px;
    }
    .span1 {
        font-size: 15px;
        color: #FDBB11;
        line-height: 24px;
    }

}
